services:
  db:
    image: mysql:8.0
    command: --innodb-buffer-pool-size=256M --max-connections=20
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      TZ: Europe/Warsaw
    ports:
      - "3306:3306"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - network
    healthcheck:
      test: ["CMD", "mysqladmin","ping", "-h", "localhost"]
      interval: 10s
      retries: 5
      timeout: 10s
      start_period: 20s
    env_file:
      - .env
    restart: always
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 128M

  flask:
    build:
      context: .
    command: gunicorn -w 4 -b 0.0.0.0:6767 app:app
    environment:
      FLASK_APP: app.py
      FLASK_ENV: development
      TZ: Europe/Warsaw
    ports:
      - "6767:6767"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - network
    env_file:
      - .env
    restart: always
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 128M

networks:
  network:
    driver:  bridge