{%extends "index.html"%}
{%block content%}
<section id="about-project">
    <h1 style="color: #41bb25;">Project Description</h1>
    <p>This portfolio web application showcases my skills and projects as a developer. Built using Flask and MySQL, it provides a platform to demonstrate my proficiency in web development technologies.</p>
    <h1 style="color: #41bb25;">Technologies Used</h2>
    <ul id="tech-list">
        <li>Flask<br>A lightweight WSGI web application framework in Python.</li>
        <li>Flask-WTF<br>For form handling and validation.</li>
        <li>Flask-Login<br>For user session management.</li>
        <li>Flask-SQLAlchemy<br>For database interactions using SQLAlchemy ORM.</li>
        <li>MySQL<br>A popular relational database management system.</li>
        <li>HTML/CSS<br>For structuring and styling the web pages.</li>
        <li>Gunicorn<br>Python WSGI HTTP Server for UNIX.</li>
        <li>Docker<br>For containerizing the application.</li>
    </ul>
</section>

{%endblock%}