{% extends "index.html" %}
{% block content %}
<section id="main-hero">

                <h1 class="main-heading">Projects</h1>
                <p>Explore my diverse range of projects showcasing my expertise and innovation.</p>
                <p>Click on project name to explore, click on Github link to check the code.</p>
                <p>While my focus lies in building robust and efficient logic, I’ll be the first to admit that graphic design isn't my strongest suit. Try to keep it in mind during review :). </p>
</section>
<section id="projects-list">
    <div id="Hub"><a href="http://hub.janpach.com" target="_blank" rel="noopener noreferrer">Hub</a><br><br>You already here!<br><br><a href="https://github.com/JhonnyP0/hub" target="_blank" rel="noopener noreferrer">GitHub</a></div>
    <div id="Ecommerce"><a href="#" target="_blank" rel="noopener noreferrer">Ecommerce</a><br><br>Not here yet<br><br><a href="#" target="_blank" rel="noopener noreferrer">GitHub</a></div>
    <div id="TempMail"><a href="http://tempmail.janpach.com" target="_blank" rel="noopener noreferrer">TempMail</a><br><br>App which generate temporary email for 24h.<br><br><a href="#" target="_blank" rel="noopener noreferrer">GitHub</a></div>
</section>
{%endblock%}