
{% extends "index.html" %}

{% block content %}
            <form class="credform" method="POST">
                {{ form.hidden_tag() }}
                <div>
                    <div class="input-with-icon">
                        {{ form.email(placeholder="Email (To send a confirmation)", class="ipt2") }}
                        <span class="help-icon" title="Chcek out my TempMail app ;)">?</span>
                    </div>
                </div>
                <div>
                    {{ form.username(placeholder="Username (Visible on reviews!)") }}
                </div>
                <div>
                    {{ form.password(placeholder="Password") }}
                </div>
                <div>
                    {{ form.repeat_password(placeholder="Repeat Password") }}
                </div>
                {{ form.submit() }}
            </form>
{% endblock %}